@model IEnumerable<Riode.WebUI.Models.Entities.Category>

@{
	ViewData["Title"] = "Index";
}

<div class="page-header">
	<div class="row align-items-end">
		<div class="col-lg-8">
			<div class="page-header-title">
				<div class="d-inline">
					<h4>Categories</h4>

				</div>
			</div>
		</div>

	</div>
</div>

<div class="page-body">

	<div class="card">

		<div class="card-block table-border-style">
			<div class="table-responsive">
				<table class="table table-hover tree">
					<thead>
						<tr>

							<th>
								@Html.DisplayNameFor(model => model.Name)
							</th>
							<th class="text-right">
								<a asp-action="Create" class="btn btn-sm btn-primary">
									<i class="fa-solid fa-plus"></i>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Where(c => c.ParentId == null))
						{
							<tr class="treegrid-@item.Id @(item.ParentId==null?"":$"treegrid-parent-{item.ParentId}") " data-entity-id="@item.Id">

								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
								<td class="operate-cell text-right">
									<a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> </a>
									<a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
									<a onclick="removeEntity(event,@item.Id,'@item.Name')" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
								</td>
							</tr>

							@foreach (var child in item.GetChildren())
							{
								<tr class="treegrid-@child.Id treegrid-parent-@child.ParentId" data-entity-id="@child.Id">

									<td>
										@child.Name
									</td>
									<td class="operate-cell text-right">
										<a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@child.Id"><i class="fa-solid fa-pen-to-square"></i> </a>
										<a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@child.Id"><i class="fa-solid fa-eye"></i></a>
										<a onclick="removeEntity(event,@child.Id,'@child.Name')" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
									</td>
								</tr>
							}
						}


					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@section js{
	<script src="~/admin/assets/libs/sweetalert/sweetalert.min.js"></script>
	<script src="~/admin/assets/libs/jquery-treegrid/js/jquery.treegrid.js"></script>

	<script>

		$(document).ready(function () {
			$(".tree").treegrid({
				"initialState": "collapsed"
			});
		})



		function removeEntity(ev,entityId,name) {
			swal({
				title: "Are you sure?",
				text: `Once deleted, you will not be able to recover ${name} !`,
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
				.then((willDelete) => {
					if (willDelete) {


						$.ajax({
							url: `@Url.Action("Delete")/${entityId}`,
							type: 'post',
							success: function (response)
							{
								if (response.error == true) {
									toastr.error(response.message, "Error!")
									return;
								}
								toastr.success(response.message, "Success!")

								$(`tr[data-entity-id=${entityId}]`).remove();
							},
							error: function (response) {console.warn(response) },
						});
					}
				});
		}
	</script>
}

